@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto';
  background-color: rgba(216, 213, 213, 0.473);
  
}

.listStyle{
  color:rgb(85, 85, 85);
}


